
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item text-center clearfix" ng-repeat="key in groceryItems | orderBy:'date'   ">
                <button type="button" class="btn btn-sm btn-success pull-left">
                    <span class="glyphicon glyphicon-unchecked"></span>
                </button>
                <span style="font-weight:bold">{{key.itemName}}</span>
                <button type="button" class="btn btn-sm btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </li>
        </ul>
    </div>
